*{
    margin: 0;
    padding: 0;

}
body{
    overflow-x: hidden;
}

.first{
    display: flex;
    gap: 400px;

  position: fixed;
  padding: 1%;
  width: 100%;
  z-index: 1;
 background-color: white;
  color: black;

  justify-content: center;
   

}

.a{
    display: flex;
    gap: 30px;
}
.b{
    overflow: hidden;
}
.b img{
    animation-name: hostinger;
    animation-duration: 1s;

   
}
@keyframes hostinger {
    from{
transform: translateY(2200px);
    }
    to{

    }
}
.c{
    display: flex;
    gap: 10px;
   
}
.c img{
    background: transparent;
}
.c h3{
    margin-top: 10px;
}
.d{
    display: flex;
    gap: 30px;
  
}
ul{
    display: flex;
    gap: 40px;
  
    margin-top: 2%;
    
}
a{
    text-decoration: none;
    color: black;
    font-size: 17px;
    
}
li{
    list-style: none;
        font-family: sans-serif;
}
li:hover{
    text-decoration: underline purple;
    transition: 0.5s;
}
.e{
    overflow: hidden;
}
 .e button{
    height: 40px;
    width: 100px;
    animation-name: hostinger;
    animation-duration: 1s;
   
}
.e button p{
    font-family: sans-serif;
    font-size: 13px;
}
.e button{
    border-radius: 5px;
    background-color: rgb(42, 51, 173);
    color: white;
    border: transparent;

}
 .e button:hover{
    opacity: 0.8;
}
.second{
   
    background-color:#1A1A1D;
    padding: 3%;
   overflow: hidden;
}
.second i{
    margin-top: 2%;
}
.f{
    margin-top: 5%;
    display: flex;
    gap: 150px;
    justify-content: right;
}
.g h1{
color: white;
font-family: sans-serif;
}
.g h4{
    color: white;
    font-family: sans-serif;
}
.m{
    display: flex;
    gap: 4px;
}
.m h3{
color: white;
}
.m,h2{
    color: white;
}
.g h4{
    margin-top: 5%;
}
.i{
    margin-top: 13%;
}
.i p{
    color: white;
    font-family: sans-serif;
}
.j{
    display: flex;
  gap: 15px;
}
.j pre{
    color: white;
    font-family: sans-serif;
}
.k{
    display: flex;
    margin-top: 2%;
    gap: 15px;
}
.k p{
    margin-top: 2%;
}

.l{
    display: flex;
    margin-top: 2%;
    gap: 15px;
}

.l p{
    margin-top: 2%;
}
.m{
    margin-top: 10%;
}
.m h1{
    color: white;
    font-size: 43px;
    font-family: sans-serif;
}
.m h3{
    font-family: sans-serif;
 color: white;
}
.z h2{
  color: white;
    font-family: sans-serif;

}
.n{
    margin-top: 10%;
    display: flex;
    gap: 30px;
}
.nn button{
    background-color: rgb(42, 51, 173);
    border: transparent;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: white;
}
.n p{
    font-size: 15px;
    font-family: sans-serif;
}
.n button:hover{
    opacity: 0.8;
}
.nnn button{
    background-color: #1A1A1D;
  border: white solid 2px;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    color: white;
}
.nnn button:hover{
    opacity: 0.6;
}

.o{
    display: flex;
    gap: 10px;
    margin-top: 10%;
}
.o p{
    color: white;
    font-family: sans-serif;
  margin-top: 2%;
}
.i h1{
color: white;
margin-top: 30%;
}
.p{
    display: flex;
    justify-content: right;
    margin-right: 1%;  
}
.p p{
    font-family: sans-serif;
}
.p button{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
    height: 50px;
    width: 100px;
    background-color: rgb(42, 51, 173);
    border: transparent;
    color: white;
    position: fixed;
  
   
    border-radius: 5px;
}
.p button:hover{
    opacity: 0.9;
}
.third{
    margin-top: 5%;
}.s{
    display: flex;
    gap: 10px;
   
}
.r{
    display: flex;
    justify-content: center;
    gap: 170px;
    margin-top: 5%;
}
.w{
    margin-top: 12%;
    display: flex;
    gap: 15px;
}
i{
    font-size: 30px;
    
    
}
.v{
    display: flex;
    flex-direction: column;
  
}

.x{
    margin-top: 16%;
    display: flex;
    gap: 20px;
}
.y{
    margin-top: 17%;
    display: flex;
    gap: 20px;
}
.t p{
    font-family: sans-serif;
    font-size: 35px;
}

.u p{
    font-family: sans-serif;
    font-size: 35px;
}
.v p{
    font-family: sans-serif;
    font-size: 35px;
}
.A{
    display: flex;
    gap: 5px;
    margin-top: 5%;
}
.A p{
font-size: 20px;
margin-top: 2%;

}
.A h3{
    margin-top: 3%;
}
.B{
    display: flex;
    gap: 5px;
    margin-top: 5%;
}
.B h3{
    margin-top: 3%;
}
.B p{
    font-size: 20px;
margin-top: 2%;
}
.C{
    display: flex;
    gap: 5px;
    margin-top: 8%;
}
.C h3{
    margin-top: 3%;
}
.C p{
    font-size: 20px;
    margin-top: 2%;
}


.q{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.q i{
    font-size: 39px;
 
}
.q p{
    font-size: 29px;
    font-family: sans-serif;
}
.q b{
    font-size: 29px;
    font-family: sans-serif;
   
}
.seventh{
    display: flex;
    gap: 100px;
    margin-top: 5%;
    justify-content: center;
    background-color: black;
    color: white;
    

}
.ij{
    overflow-x: hidden;
}
.ij img{
   border-radius: 15px;
   animation-name: samip;
   animation-duration: 5s;
  
 
}
.jk pre{
    font-family: sans-serif;
    font-size: 30px;
    margin-top: -15%;
    color: whitesmoke;
}
.jk h3{
    font-family: sans-serif;
    font-size: 19px;
    color: whitesmoke;
    margin-top: 15%;
}
.jk h2{
    font-family: sans-serif;
    font-size: 19px;
    color: whitesmoke;
    margin-top: 5%;
}
@keyframes samip {
    from{
transform: translateX(1200px);

    }
    to{

    }
    
}
.jk{
    margin-top: 5%;
}
.twelve{
    display: flex;
    gap: 100px;
    justify-content: center;
 
    background-color: black;
    padding-top: 10%;
    padding-bottom: 10%;
    color: white;
}
.JKL i{
    color: white;
    font-size: 20px;
   
}
.JKL h1{
    color: white;
    font-size: 35px;
}
.MNO{
    display: flex;
    gap: 10px;
    margin-top: 7%;
}
.MNO i{
    color: white;
    font-size: 20px;
   
   
}
.MNO pre{
    font-family: sans-serif;
   
}
.KLM{
    margin-top: -7%;
}
.fourteen{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 8%;
    font-family: sans-serif;
}
.fourteen h1{
    font-size: 23px;
    color: #2f1c6a;
}
.fourteen p{
    color: #2f1c6a;
}
.onee{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.twoo{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.threee{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fourr{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fivee
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.sixx
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fifteen{
    display: flex;
    gap: 795px;
    margin-top: 5%;
    justify-content: center;
}
.STU{
    display: flex;
    gap: 20px;
}
.STU i{
    color: #2f1c6a;
}
.sixteen
{
    display: flex;
    gap: 300px;
    justify-content: center;
    margin-top: 2%;
}
.TUV{
    display: flex;
    gap: 10px;
}
.TUV img{
    height: 40px;
}
.TUV a{
   
    margin-top: 2%;
    font-size: 15px;
    color: #2f1c6a;
    font-family: sans-serif;
}
.UVW{
    display: flex;
    gap: 20px;
}
.UVW p{
    font-family: sans-serif;
}
hr{
    margin-top: 2%;
}
.seventeen{
    display: flex;
    gap: 570px;
    justify-content: center;
    margin-top:1%;
    padding-bottom: 2%;
}
.seventeen p{
    font-family: sans-serif;

}